{{/* Safe footer license renderer */}}
{{ $p := .Site.Params }}
{{ $lic := $p.license }}
{{ if not $lic }}{{ $lic = $p.copyright_license }}{{ end }}

{{/* $lic が文字列などでも落ちないよう型チェック */}}
{{ $licType := printf "%T" $lic }}
{{ if and $lic (ne $licType "string") }}
  {{ $enable := true }}
  {{ if isset $lic "enable" }}{{ $enable = (index $lic "enable") }}{{ end }}
  {{ if $enable }}
    {{ $text := "CC BY-NC-ND 4.0" }}
    {{ if isset $lic "text" }}{{ $text = (index $lic "text") }}{{ end }}
    {{ $url := "" }}
    {{ if isset $lic "url" }}{{ $url = (index $lic "url") }}{{ end }}
    <span class="license">
      {{ if $url }}<a href="{{ $url }}" rel="license" target="_blank">{{ end }}
      {{ $text | safeHTML }}
      {{ if $url }}</a>{{ end }}
    </span>
  {{ end }}
{{ end }}
